
# Ignore build directory
build/
# Ignore build like directory
build*/
# Ignore all files in the build directory
build/*

# Ignore tests build directory
tests/build/
tests/build*/

# Test binaries
tests/**/ndd_filter_test

# macOS debug symbols
*.dSYM/

# Sometimes data files are created for tetsing
data/
data/*

# VS Code directory
.vscode/
.vscode/*



# DS Store
.DS_Store
# Python
__pycache__/
*.pyc
.venv/

# VERY IMPORTANT
endee-data/

# Models
*.bin
*.pt

# OS
.DS_Store
Thumbs.db